.header {
    display: flex; /* Add this to apply flexbox layout */
    flex-direction: row;
    background-color: #afeb8f;
    /* Updated to justify content */
    align-items: center; /* Center items vertically */
     /* Add some padding */
  
}
.port {
    font-size :30;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:  #002f7b;
    margin-left: 15px ;
 
}
ul {
    list-style: none; /* Remove default list styling */
    display: flex; /* Display items in a row */
    margin-left: 200px;
    align-content: space-between;
    gap:50px
  }
li {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding :10;
    left: 10;
    margin-right: 10px;
    margin-left: 10px;
}
a {
    color:  #002f7b;
}
