.project-carousel {
    width: 100%; /* Full width */
    max-width: 100%; /* Ensure it does not exceed viewport width */
    margin: 0 auto; 
    height: 100%;/* Center align if needed */
  }
  
  .project-carousel .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Automatically adjust height based on content */
  }
  
  
  .group:hover .group-hover\:opacity-100 {
    opacity: 1;
  }